*~
*.pyc
*.d
*.so
*.swp

LSFJOB*
run_*.sh
clusterRun*.sh
TbUTRun_*.py
TbUTPedestal_*.py

TbUT/options/TbUTPedestal.py
TbUT/options/TbUTRun.py

TbUT/options/UT/noise_Mamba.dat

Kepler/eos

Log*.dat

TbUT/scripts/AddTrigTracks/combDUTwithTrack
